rdkit
rmrkl
cuallee
duckdb
duckdb-engine
duckduckgo-search
fastparquet
google-search-results
imbalanced-learn
ipython
ipywidgets
jupysql
jupyterlab
langchain
langchain_core
langchain-openai
matplotlib
molbloom
nest_asyncio
networkx
numpy
openai
pandas
paper-qa
paperscraper
plotly
polars
pyarrow
pyspark
python-dotenv
rustworkx
rxn4chemistry
scikit-learn
scipy
seaborn
statsmodels
streamlit
synspace
tensorflow
tiktoken
torch
wikipedia
xgboost